.contenedor-video{
    display: flex;
    justify-content: center;
}

.contenedor-memoria{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.titulo-memoria{
    font-size: 1.5rem;
    color: rgb(63, 63, 63);
}

.titulo-memoria-izq{

    font-size: 1.5rem;
    text-align: end;
    color: rgb(63, 63, 63);
    
}
